.hero {

    height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    transition: 1s;

    background-size: cover;

    background-position: center;
    font-family: sans-serif;


}


.hero-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 15px;
    color: #060606;
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);

}



/* Weather Background */


.clear {

    background-image: url("https://images.unsplash.com/photo-1501973801540-537f08ccae7b");

}


.clouds {

    background-image: url("https://images.unsplash.com/photo-1499346030926-9a72daac6c63");

}


.rain {

    background-image: url("https://images.unsplash.com/photo-1501691223387-dd0500403074");

}


.default {

    background: #020617;
    color: bisque;

}